# Ignore everything by default
*

# Allow subdirectories to be checked
!*/

# Allow following
!**.asm
!**.s
!**.c
!**.js
!**.rs
!**.py
!**.nix
!**.sh
!**.md
!**.gitignore
!**.toml
!**.yaml
!**.lock
!**.json
!**.gyp
!make_x64
!make_a64

# ignore build files
**/__pycache__/
**/target/
**/bin/
**/build/
**/node_modules/
